@page "/"

<h1>Dobro došli!</h1>
<br />
<h3>Admin Control Panel v1.0</h3>
<br />
<h4 style="font-style:oblique">Obavijesti</h4>
<p>Trenutno nema novih obavijesti.</p>
<SurveyPrompt Title="Imate neki prijedlog za poboljšanje sistema?" />
