<div class="top-row pl-4 navbar navbar-dark" style="background-color:white;height:70px">
    <img src="/Images/logo.png" class="" alt="logo" style="width:80px;display:block;margin-left:auto;margin-right:auto;" />
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="people">
                <span class="oi oi-person" aria-hidden="true"></span> Korisnici
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="statistika">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Statistika
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
